doctype html
html(lang="en")
  head
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
    meta(http-equiv='refresh', content='10')

  body
    div.clearfix
      div.wrapper  
        div.question-card.w3-card-4
          header.w3-container.w3-blue.w3-center
           h5 #{(gameState ? "Contest is IN PLAY" : "Contest is PAUSED")}
          
          div.admin.w3-container.w3-center
            a(href="/admin?action=pre").w3-button.w3-white.w3-border.w3-border-blue.w3-round-xlarge Previous
            a(href="/admin?action=next").w3-button.w3-white.w3-border.w3-border-blue.w3-round-xlarge Next
          div.question.w3-container.w3-blue
            h5 Q#{question.questionID}: #{question.titleQuestion}
          div.responses.w3-container.w3-center
            - if (question.questionImage > "") {
              img.w3-center(src="#{question.questionImage}" height="300" length="300")
            - }
            - var i = 0;
            each option in question.answers
              - i++;
              - if (question.answer == i){
              div.response.selected
               a.w3-button.w3-block= option
              - } else {
              div.response
               a.w3-button.w3-block= option
              - }
            div.admin.w3-container
              a(href="/admin?action=pause").w3-button.w3-white.w3-border.w3-border-blue.w3-round-xlarge Pause Game  
              a(href="/admin?action=start").w3-button.w3-white.w3-border.w3-border-blue.w3-round-xlarge Start Game 
              a(href="/admin?action=score").w3-button.w3-white.w3-border.w3-border-blue.w3-round-xlarge Check Answers
              a(href="/admin?action=load").w3-button.w3-white.w3-border.w3-border-blue.w3-round-xlarge Load Contest
          div.users
            each t in teamlist
             div.teamlist= t.teamname
              each player, index in t.players
               div.teammates #{player} - #{t.scores[index]}
          footer.w3-container.w3-blue
            h5 There have been #{count} answers submitted so far!