doctype html
html(lang="en")
  head
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
    meta(http-equiv='refresh', content='30')

  body
    div.clearfix
      div.wrapper  
       p Logged in as #{username}
        div.question-card.w3-card-4
          div.question.w3-container.w3-blue
            h1= curQuestion.titleQuestion
          div.responses.w3-container.w3-center
            - if (curQuestion.questionImage > "") {
              img.w3-center(src="#{curQuestion.questionImage}" height="300" length="300")
            - }
            - var i = 0;
            each option in curQuestion.answers
              - i++;
              - if (i == selected) {
              div.response.selected
                a.w3-button.w3-block(href="/comp?questionid=#{curQuestion.questionID}&answerid=#{i}")= option
              - } else  {
                div.response
                a.w3-button.w3-block(href="/comp?questionid=#{curQuestion.questionID}&answerid=#{i}")= option
              - }
          footer.w3-container.w3-blue
            h5 Make your selection before we go the next question!


