doctype html
html(lang="en")
  head
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")

  body
    div.clearfix
     div.wrapper
      div.lobby-card.w3-card-4
        div.question.w3-container.w3-blue  
         h1 Contest Lobby
        div.register-card
          div.name= user.username
          div.team= user.teamname          
        div.users
         each team, teamname in teamlist
          div.teamlist= teamname
            each username, score in team
             div.teammates #{username.username} - #{username.score}
        footer.w3-container.w3-blue
         h5 Just wait here, the page will refresh automatically at game time!
