doctype html
html(lang="en")
  head
    link(href='/stylesheets/style.css', rel='stylesheet')
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")

  body
    div.clearfix
     div.wrapper
      div.lobby-card.w3-card-4
        div.question.w3-container.w3-blue  
         h1 And the winner is....
        div.register-card
          div.name= user.username
          div.team= user.teamname          
        div.users
         each t in teamlist
          div.teamlist #{t.teamname} - #{t.teamscore}
           each player, index in t.players
             div.teammates #{player} - #{t.scores[index]}
        footer.w3-container.w3-blue
         h5 That's all folks!  
